<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor de Imagens</title>
    <link rel="stylesheet" href="static/css/editor.css">
</head>
<body>
   
    <h1>Editor de Imagens Web</h1>
    <hr>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Escolha uma imagem para editar:</label>
        <input type="file" name="file" id="file" required>
        <button type="submit">Carregar Imagem</button>
    </form>
</body>
</html>